body{
  margin:0;
  background:#07110b;
  color:white;
  font-family:-apple-system,BlinkMacSystemFont,sans-serif;
}

.screen{
  display:none;
}

.screen.active{
  display:block;
}

.header{
  padding:20px;
}

.carousel{
  display:flex;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
  gap:20px;

  padding:20px;

  -webkit-overflow-scrolling:touch;

  scrollbar-width:none;
}

.carousel::-webkit-scrollbar{
  display:none;
}

.card{
  flex:0 0 85%;

  scroll-snap-align:center;

  background:#102015;

  border:2px solid #2ecc71;

  border-radius:22px;

  overflow:hidden;
}

.card img{
  width:100%;
  height:240px;
  object-fit:cover;
}

.content{
  padding:16px;
}

.btn{
  width:100%;
  background:#2ecc71;
  color:white;
  border:none;
  border-radius:12px;
  padding:14px;
  font-size:16px;
}

.locked{
  filter:grayscale(100%) blur(3px);
  opacity:.45;
}

.room-image{
  position:relative;
}

.room-image img{
  width:100%;
  height:350px;
  object-fit:cover;
}

.cache-pin{
  position:absolute;
  width:46px;
  height:46px;
  border:none;
  border-radius:50%;
  font-size:22px;
}

.pin-smilstvo{
  left:28%;
  top:65%;
}

.pin-yucca{
  right:18%;
  top:28%;
}

.pin-pig{
  left:58%;
  top:45%;
}

.cache-content{
  padding:16px;
}

.hint{
  display:none;
  margin-top:12px;
  padding:12px;
  background:#163021;
  border-radius:10px;
}

.badge{
  display:inline-block;
  padding:4px 10px;
  background:#1f3525;
  border-radius:20px;
  margin-right:6px;
}

.pin-lenivost{
    left:55%;
    top:40%;
}
.pin-london{
    left:30%;
    top:60%;
}
.pin-strelitzia{
    left:75%;
    top:25%;
}

.pin-knihomol{
    left:20%;
    top:35%;
}

.pin-pizza{
    left:50%;
    top:40%;
}

.pin-obzerstvo{
    left:70%;
    top:55%;
}
